
# Ignore rules that are cosmetic for humans
[flake8]
extend-ignore = E401,E501       # E401 multiple imports; E501 long lines
max-line-length = 120           # Matches Black’s default-ish wrapping
exclude = .git,__pycache__,.venv
